<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
  <style>
      	.div{
              background-color: 	#FFFFCE;
          }
        button{
            background-color:	#FFEEDD;
            border-radius: 5px;
        }
  </style>
</head>
<body>
<div class="div"> 
  <div class='center'>
    <div class='title'>Classify 企鵝 火雞 雞 鴨 鵝 Images</div>
    <h3 style="background-color:	#FFE153; ">
      Use images of <strong>0: 火雞</strong>, <strong>1: 企鵝</strong>, <strong>2: 鴨</strong>
      , <strong>3: 雞</strong> or <strong>4: 鵝</strong>      
    </h3>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
